<%- await include("resources/views/layouts/header.ejs") %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Form Test
                </div>
                <div class="card-body">
                    <form action="/example" method="POST">
                        <input class="border-0 p-2 p-2 bg-dark text-white" type="text" name="example">
                        <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                    </form>                    
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Example</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <% datas.forEach((data,i) => { %>
                    <tr>
                        <td><%= data.example %></td>
                        <td class="d-inline-flex">
                            <a class="btn btn-sm btn-warning mr-2" href="/example/<%= data._id['$oid'] %>">Edit</a>
                            <form action="/example/<%= data._id['$oid'] %>" method="POST">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- await include("resources/views/layouts/footer.ejs") %>